<ul class="social-media-list">
    <li>
        <a rel="me" href="https://www.linkedin.com/in/francescobedussi" target="_blank" title="linkedin">
            {%- include social-icons/linkedin.svg -%}
        </a>
    </li>

    <li>
        <a rel="me" href="https://github.com/fbedussi" target="_blank" title="github">
            {%- include social-icons/github.svg -%}
        </a>
    </li>

    <li>
        <a rel="me" href="https://mastodon.uno/@saiot" target="_blank" title="mastodon">
            {%- include social-icons/mastodon.svg -%}
        </a>
    </li>

</ul>