@charset "utf-8";

$color-scheme-auto: false;
$color-scheme-dark: false;

@import 'minima/skins/auto';
@import './bedux/_syntax-highlighting';

.site-header.my-header {
  border-top: 5px solid #ff0000 !important;
  position: sticky;
  top: 0;

  @media (max-width: 500px) {
    position: static;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;

    &::after {
      content: none;
    }

    .site-title {
      padding-right: 1rem;
    }
  }

  .site-nav {
    position: static;
    border: none;

    .trigger {
      display: flex;
      gap: 1rem;
    }
  }
}

main.page-content {
  padding-top: 1rem;
}

.site-title,
.site-title {
  display: flex;
  align-items: center;
  color: black !important;
  gap: 0.5em;
  white-space: nowrap;
}

.post-header {
  text-align: left !important;
}

.post-meta {
  display: flex;
  justify-content: space-between;
}

button {
  background-color: transparent;
  appearance: none;
  border: solid 1px $border-color-01;
  padding: 17px;
  line-height: 1;
}

.search-form {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.copy-code-button-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
}

.copy-code-button {
  padding: 8px;
  font-size: 75%;
}

.social-links .social-media-list li a {
  display: flex;
  align-items: center;
}