@charset "utf-8";

$color-scheme-auto: false;
$color-scheme-dark: false;
$lm-brand-color-dark: #ff0000;

@import 'minima/skins/auto';
@import './bedux/_syntax-highlighting';

.site-title,
.site-title {
  display: flex;
  align-items: center;
  color: black !important;
  gap: 0.5em;
  white-space: nowrap;
}

.post-meta {
  display: flex;
  justify-content: space-between;
}

button {
  background-color: transparent;
  appearance: none;
  border: solid 1px $border-color-01;
  padding: 17px;
  line-height: 1;
}

.search-form {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.copy-code-button-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
}

.copy-code-button {
  padding: 8px;
  font-size: 75%;
}
